@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");

/* vars, swiper settings etc. */
:root {
  --white: #ffffff;
  --blue: #482be7;
  --dark-blue: #2f1893;
  --selected-section: #1e0e62;
  --light-gray: #ebeaed;
  --btn-color: #25dac5;
  --twitter-color: #1da1f2;
  --dark-gray: #141414;
  --swiper-pagination-bullet-size: 0.7rem;
  --swiper-pagination-color: var(--white);
  --swiper-pagination-bullet-inactive-color: #00000000;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0.4rem;
  --swiper-navigation-color: var(--white);
}

/* default setting, styles reset etc. */
* {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--white);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.swiper-pagination-bullet {
  border: var(--white) 1px solid;
}

.swiper-button-next i,
.swiper-button-prev i {
  font-size: 1.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.btn {
  font-size: 1.1rem;
  color: var(--white);
  background: var(--blue);
  padding: 1rem 2rem;
  border-radius: 6.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: var(--blue);
  background: var(--white);
}

/* navbar */
.navbar {
  margin-top: 5rem;
}

.navbar a {
  text-align: center;
  padding: 0 1.25rem;
  font-size: 1.1rem;
  color: var(--white);
  transition: 0.2s;
}

.navbar a:hover {
  opacity: 0.3;
  letter-spacing: 0.1rem;
}

.navbar a.active {
  opacity: 0.3;
}

/* home section */
.home {
  background: linear-gradient(rgba(47, 24, 149, 0.5), rgba(47, 24, 149, 0.5)),
    url("img/home-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7rem;
}

.home-swiper {
  height: 23rem;
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15.5rem 0 3.6rem;
}

.main-header {
  font-size: 1.5rem;
  font-weight: 700;
}

.home-swiper .swiper-wrapper {
  padding-top: 1.7rem;
}

.advantages {
  text-align: center;
  width: 46rem;
  display: flex;
  flex-direction: column;
}

.advantages h3 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.7rem;
  line-height: 5.4rem;
}

.advantages p {
  line-height: 2rem;
  font-size: 1.4rem;
}

/* content section */
.content {
  background: linear-gradient(rgba(47, 24, 149, 0.5), rgba(47, 24, 149, 0.5)),
    url("img/content-bg.jpg");
  height: 34rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.content .container {
  width: 51rem;
  text-align: center;
}

.content .container h5 {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  padding-top: 6.7rem;
}

.content .container h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
  padding-top: 1.8rem;
}

.content .container p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  opacity: 0.7;
  padding-top: 1.4rem;
}

/* features section  */
.features {
  background: linear-gradient(rgba(47, 24, 149, 0.4), rgba(47, 24, 149, 0.4)),
    url("img/features-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10%;
}

.features-swiper {
  width: 48rem;
  height: 26.5rem;
  margin-left: 2rem;
}

.feature-title h3 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-bottom: 1.2rem;
}

.feature-title p {
  font-size: 1.4rem;
  line-height: 2rem;
  width: 37.5rem;
}

.feature-subtitle {
  display: flex;
  padding-top: 4.2rem;
  width: 36rem;
}

.feature-subtitle-left {
  margin-right: 1.8rem;
}

.feature-subtitle i {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
}

.feature-subtitle h4 {
  font-size: 0.9rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.feature-subtitle p {
  padding-top: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}

/* form section  */
.form {
  background: linear-gradient(rgba(47, 24, 149, 0.5), rgba(47, 24, 149, 0.5)),
    url("img/content-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .container {
  display: flex;
  align-items: center;
  gap: 8.1rem;
}

.form-title {
  width: 23rem;
}

.form-title h3 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}

.form-title p {
  line-height: 1.8rem;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0.6rem;
}

form .switcher {
  display: flex;
}

form .switcher a {
  width: 14.7rem;
  text-align: center;
  padding: 1.6rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

form .switcher a:hover {
  color: var(--selected-section);
  border-bottom: 0.2rem solid var(--selected-section);
}

form .switcher .signup {
  color: var(--selected-section);
  border-bottom: 0.2rem solid var(--selected-section);
}

form .switcher .login {
  color: #15143966;
  border-bottom: 0.2rem solid var(--light-gray);
}

form .inputs {
  height: 30rem;
  padding: 5rem 4.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .inputs input {
  padding: 0.75rem 0 0.75rem 1.5rem;
  width: 20.5rem;
  border: 0.15rem solid var(--light-gray);
  border-radius: 6.25rem;
  margin-bottom: 1.9rem;
  font-size: 1.1rem;
}

form .inputs input::placeholder {
  color: #15143966;
}

form .inputs .form-btn {
  width: 20.5rem;
  margin: 0.6rem 0 0;
  background: var(--btn-color);
}

form .inputs .form-btn:hover {
  background: var(--white);
  color: var(--btn-color);
}

form .inputs .twitter {
  margin: 0;
  background: var(--twitter-color);
}

form .inputs .twitter:hover {
  background: var(--white);
  color: var(--twitter-color);
}

form .inputs .or {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.25rem 0;
}

form .inputs hr {
  color: #1414141a;
  height: 0.1rem;
  border: 0.1rem solid #1414141a;
  width: 8.85rem;
}

form .inputs .or p {
  font-weight: 400;
  color: #1414144d;
}
